<%= link_to root_path do %>
  <div class="btn btn-success btn-sm"> Home <i class="fas fa-home"></i>
  </div>
<% end %>

<%= link_to brasils_path do %>
  <div class="btn btn-success btn-sm">Lista de bancos
  </div>
<% end %>

<%= link_to new_bank_path do %>
  <div class="btn btn-primary btn-sm">Cadastrar Conta
  </div>
<% end %>

<p></p>
<form action="brasils" method="get">Busque o Banco pelo codigo
  <input type="text" name="bank_code">
  <input type=submit>
</form>
<p></p>
<% @bank_list.each do |bank| %>
  <li class="list-group-item">
    <%= bank["code"] %> |
    <%= bank["name"] %>
  </li>
<% end %>
