
<div class="row justify-content-center">
  <div class="col-md-12">
    <h1>Todas as contas</h1>
    <table class="list-group">
      <th><% @banks.each do |bank| %></th>
        <tr>
          <th><%= link_to bank.banco, bank_path(bank), class: 'btn btn-primary' %></th>
          <th> - Código <%= bank.code %></th>
          <th> - Agencia <%= bank.agencia %></th>
          <th> - Conta <%= bank.conta %></th>
        </tr>
      <% end %>
    </table>
    <%= link_to "Cadastrar Conta", new_bank_path, class: 'btn btn-primary' %>
  </div>
</div>
