
<div class="row justify-content-center">
  <div class="col-md-6">
    <h1><%= @bank.banco %></h1>
    <table class="table table-bordered">
      <tbody>
        <tr>
          <th scope="row">Banco</th>
          <td><%= @bank.banco %></td>
        </tr>
        <tr>
          <th scope="row">Código</th>
          <td><%= @bank.code %></td>
        </tr>
        <tr>
          <th scope="row">Agencia</th>
          <td><%= @bank.agencia %></td>
        </tr>
        <tr>
          <th scope="row">Conta</th>
          <td><%= @bank.conta %></td>
        </tr>
      </tbody>
        <%= link_to root_path do %>
          <div class="btn btn-success btn-sm"> Home <i class="fas fa-home"></i>
          </div>
        <% end %>

        <%= link_to banks_path(@bank) do %>
          <div class="btn btn-warning btn-sm"> Todas as Contas <i class="fas fa-edit"></i>
          </div>
        <% end %>

        <%= link_to edit_bank_path(@bank) do %>
          <div class="btn btn-warning btn-sm"> Edit <i class="fas fa-edit"></i>
          </div>
        <% end %>

        <%= link_to bank_path(@bank), method: :delete, data: { confirm: "Are you sure?" } do %>
          <div class="btn btn-danger btn-sm"> Delete <i class="fas fa-trash"></i>
          </div>
        <% end %>
    </table>
  </div>
</div>

